@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4200FF;
    --white: #FFFFFF;
    --black: #000000;
    --red: #CE4646;
    --green: #4BA036;
}

body {
    font-family: "Inter, sans-serif";
}